<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} Social Media {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}master.css"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css_links %}

{#        Any extra CSS links that every page should use will go inside of this block.  #}
    {% endblock %}
</head>
<style>
    {% block page_style %}

    {% endblock %}
</style>
<body>
<nav class="navbar navbar-default" style="background:#2c3e50; ">
 <div class="input-group col-sm-7 col-sm-offset-1 pull-left" style="padding-top:10px; padding-bottom:10px;">
          <span class="input-group-addon"><a href="/dashboard"><span class="glyphicon glyphicon-tower" style="color:#2c3e50;"></span></a></span>
          <input id="id_searchFor" name="searchFor" form="search" onkeypress="return search(event)" type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
          <div class="input-group-btn">
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filter<span class="caret" style="margin-left:4px;"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="javascript:setUser()">Users</a></li>
                  <li><a href="javascript:setTag()">Tags</a></li>
                  <li><a href="javascript:setGame()">Video Games</a></li>
                </ul>
            </div>
           <form id="search" hidden="hidden" action="/dashboard" method="get"><input type="text" form="search" name="searchFilter"id="id_searchFilter" hidden="hidden"></form>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav pull-right">
          <li><a style="cursor:default; color:white; padding-top:20px !important;">
		  {% if currentUser != '' %}
		<span style="cursor:pointer;" onclick="window.location.href = '/profile'">Welcome, {{ currentUser}}!</span>
		  {%endif%}
		  </a></li>
          
		  <li><a href="/new" style="color:white !important; padding-top:20px !important;">New Post</a></li>
		  <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="navItemA" data-toggle="dropdown" role="button" aria-expanded="false" style="background:#2c3e50 !important;color:white !important; padding-top:20px !important;">Options <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Edit Posts</a></li>
            <li><a href="#">View Messages</a></li>
          </ul>
        </li>
        <li><a href="/logout" style="color:white !important; padding-top:20px !important;">Logout</a></li>

      </ul>
</nav>
<div class="container">
{% block content %}
{#        Any content specific to the base page (i.e. a navbar, footer, sidebar) should go in this area. #}

{% endblock %}
</div>

<div class="container">
  <div class="row text-center footer container" style="background:#2c3e50; color:white;">
     <p style="margin-top:20px; margin-bottom:20px; font-family: 'Open Sans', sans-serif !important; ">Copyright &copy; 2015 Good Game. All Rights Reserved. Proudly Powered by GG design team. <a href="https://github.com/dukeayers/cs399_SocialMedia" style="color: grey;">Our Github</a></p>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    <script>

        var searchType= "tag";
        function setTag(){ searchType = "tag";}
        function setGame(){ searchType = "game";}
        function setUser(){searchType = "user";}

        function search(e){
            if(e && e.keyCode ==13){
                document.getElementById("id_searchFilter").value = searchType;
                document.forms[0].submit();
            }
        }
    $(document).ready(function () {
        $('#id_searchFor').on('input', function () {
            var input = $(this).val().toLowerCase();
            $('.posts').each(function () {
                var value = $(this).attr('data-filter').toLowerCase();
                if (value.indexOf(input) >= 0) {
                    $(this).removeClass('hide');
                } else {
                    $(this).addClass('hide');
                }
            });
        });

        {% block js %}


{#            Any JavaScript specific to this page will come here.  #}
        {% endblock %}
    });
    </script>
</body>

</html>