{%  extends "base.html" %}
{% block page_style %}

{% endblock %}
{% block content %}
    <div class="row allPosts">
    </div>
{% endblock %}
{% block js %}
            $(document).ready(function(){
            $.get('/content/', function(data){
                if(data != null || data != ''){
                    $.each(data, function(key,val){
                        var data = "<div class='col-xs-4 posts' data-filter=''>";
                        data += "<a href='"+ val.url +"'>";
                        data += "<img class='img-responsive' src='"+ val.image +"'/></a>";
                        data += "<h5>" + val.description + "</h5>";
                        data += "<h6>" + val.username + " on " + val.datetime + "</h6>";
                        data += "<h6 style='font-weight:bold;'> tags: ";
                        for(var i = 0; i < val.tags.length; i++){
                            data += val.tags[i]
                        }
                        data += "</div>";
                        $('.allPosts').append(data);
                    })
                }
                else{
                    $('.allPosts').append("<h1>Sorry, there are currently no posts!</h1>");
                }
            })
        })


{% endblock %}