{%  extends "base.html" %}
{% block page_style %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <img src="http://placehold.it/350x150" class="img-responsive" alt=""/>
        </div>
        <div class="col-xs-12 text-center">
            <h3 style="font-weight:bold;">Hello, {{ person.first_name }}!</h3>
        </div>
    </div>
    <hr/>
    <h3 class="text-center" style="font-weight:bold;">My Posts</h3>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <input type="text"  placeholder="Filter My Posts..." id="postFilter" class="form-control text-center"/>
        </div>
    </div>

    <hr/>
    <div class="row">
        {% for post in posts reversed %}
            <div class="col-xs-4 text-center posts" data-filter="{{ post.datetime }} {{ post.description }} {{ post.url }} {{ post.image }} ">
                <img src="{{ post.image }}" class="img-responsive" onclick="window.location.href='{{ post.url }}'" alt=""/>
                <h5>{{ post.description }}</h5>
                <h6 style="font-weight:bold;">Posted: {{ post.datetime }} </h6>
            </div>

        {% endfor %}
    </div>

{% endblock %}
{% block js %}
        $('#postFilter').on('input', function () {
            var input = $(this).val().toLowerCase();
            $('.posts').each(function () {
                var value = $(this).attr('data-filter').toLowerCase();
                if (value.indexOf(input) >= 0) {
                    $(this).removeClass('hide');
                } else {
                    $(this).addClass('hide');
                }
            });
        })
{% endblock %}
